albumentations==1.4.14
matplotlib==3.9.2
mlflow==2.15.1
mlflow_skinny==2.15.1
numpy==1.26.4
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
Pillow==10.4.0
pycocotools==2.0.8
Requests==2.32.3
torch==2.4.0+cu121
torch==2.4.0
torchvision==0.19.0
tqdm==4.66.5
